<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/fragment :: head('Divisiones')"></head>

    <body> 
        <nav th:replace="fragments/fragment :: navbar"></nav>
        <nav th:replace="fragments/fragment :: breadcrumb('Panel de Divisiones', null, null)"></nav>
        <div class="container">
            <main>
                <h2 class="text-center my-4">Divisiones</h2>
                <table id="divisiones-table" class="table table-striped table-hover align-middle">
                    <thead>
                        <tr style="background-color: #6AA276; color: white;">
                            <th>ID</th>
                            <th>Clave</th>
                            <th>Nombre</th>
                            <th>Activo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="division : ${divisiones}" th:id="|division-row-${division.id}|">
                            <td th:text="${division.id}"></td>
                            <td th:text="${division.clave}"></td>
                            <td th:text="${division.nombre}"></td>
                            <td th:text="${division.activo ? 'Sí' : 'No'}"></td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </div>
        <div th:replace="fragments/fragment :: scripts"></div>
    </body>
</html>