<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{fragments/fragment :: head('Formulario de recuperación')}"> </head>

    <body>
        <div class="container d-flex justify-content-center align-items-center" style="min-height: 65vh;">
            <main class="w-100" style="max-width: 450px;">
                <div class="card shadow-sm border-1">
                    <div class="card-body p-4">
                        <h2 class="text-center mb-4 fw-bold">Recuperar Contraseña</h2>
                        <p class="text-center text-secondary small mb-4">
                            Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
                        </p>
                        <form method="POST" th:action="@{/email/enviar}" th:object="${emailDTO}">
                            <div class="mb-3">
                                <label for="destinatario" class="form-label fw-semibold text-secondary">Correo Electrónico</label>
                                <input class="form-control" type="email" id="destinatario" th:field="*{destinatario}" placeholder="tu@email.com" required autofocus/>
                            </div>
                            <button type="submit" class="btn btn-primary w-100 fw-bold">Enviar enlace de recuperación</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    <div th:replace="~{fragments/fragment :: scripts}"></div>
    </body>

</html>